body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}
.login-container h2 {
    margin-bottom: 30px;
    color: #333;
    margin-left: 25%;
}
.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #0c0c0e;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #2514bb;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.login-container input[type="submit"]:hover {
    background: #444;
}